Dear <%= @order.name %>
Thank you for your recent order from The Books Store
You ordered the following items:

<table>
  <%= render @order.line_items -%>
</table>

We'll send you a separate email when your order ships.

<%= @greeting %>
